<li class="feature <%= feature['status'] %>">
  <div class="collapsible-header <%= options[:color] %> lighten-1 waves-effect waves-light">
    <i class="material-icons">featured_play_list</i>
    <b><%= feature['keyword'] %></b>&nbsp;<%= feature['name'] %>&nbsp;(<%= duration(feature['duration']) %>)
  </div>

  <div class="collapsible-body <%= options[:color] %> lighten-4">
    <ul class="collection scenarioList">
      <% feature['elements'].each_with_index do |scenario, s| %>
          <li class="collection-item scenario <%= scenario['status'] %>">
            <a class="waves-effect waves-light modal-trigger white-text" href="#<%= "#{fid}s#{s}" %>">
              <b><%= scenario['keyword'] %></b> <%= scenario['name'] %>&nbsp;(<%= duration(scenario['duration']) %>)
            </a>
          </li>
      <% end %>
    </ul>
  </div>
</li>
