<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<header class="<%= options[:color] %> lighten-5">
  <div class="row <%= options[:color] %> lighten-1">
    <div class="col m6 hide-on-small-only">
      <h5 class="truncate white-text tooltipped" data-tooltip="<%= options[:report_title] %>"><%= options[:report_title] %></h5>
    </div>

    <div class="col m6 s12 <%= options[:color] %> lighten-1">
      <ul class="tabs <%= options[:color] %> lighten-1 row" style="overflow-x: hidden">
        <li class="tab col s3">
          <a class="<%= options[:color] %> lighten-3 active blue-text waves-effect waves-light tooltipped" data-tooltip="Results Overview" href="#overview"><i class="material-icons">assessment</i> Overview</a>
        </li>
        <li class="tab col s3">
          <a class="<%= options[:color] %> lighten-3 white-text waves-effect waves-light tooltipped" data-tooltip="Scenarios by Features" href="#features"><i class="material-icons">view_headline</i> Features</a>
        </li>
        <li class="tab col s3">
          <a class="<%= options[:color] %> lighten-3 white-text waves-effect waves-light tooltipped" data-tooltip="Scenarios Summary Table" href="#summary"><i class="material-icons">view_comfy</i> Summary</a>
        </li>
        <li class="tab col s3">
          <a class="<%= options[:color] %> lighten-3 white-text waves-effect waves-light tooltipped" data-tooltip="Failed Scenarios" href="#errors"><i class="material-icons">bug_report</i> Errors</a>
        </li>
      </ul>
    </div>
  </div>
</header>
