<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%=options[:report_title]%></title>
<link rel="icon" href="http://reportbuilder.rajatthareja.com/rb.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection"/>
<link href="https://cdn.rawgit.com/rajatthareja/ReportBuilder/v1.3/css/report.builder.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%if options[:additional_css]%>
      <%if options[:additional_css] =~ /^http(|s):\/\/.*\.css$/%>
        <link rel="stylesheet" href="<%=options[:additional_css]%>" media="all"/>
      <%else%>
        <style type="text/css">
          <%= options[:additional_css]%>
        </style>
      <%end%>
<%end%>
</head>
<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<%errors = []%>
<%features.each_with_index do |feature, f|%>
    <%feature['elements'].each_with_index do |scenario, s|%>
        <div id="f<%=f%>s<%=s%>" class="modal modal-fixed-footer">
          <div class="modal-content">

            <%if scenario['tags']%>
                <%scenario['tags'].each do |tag|%>
                    <div class="chip"><i class="material-icons rotate-45">label</i><%=tag['name']%></div>
                <%end%>
            <%end%>

            <h5><%=scenario['name']%> (<%=duration(scenario['duration'])%>)</h5>
            <%=feature['uri']%>:<%=scenario['line']%>

            <%if scenario['before']%>
                <%scenario['before'].each do |before|%>

                    <%if before['output']%>
                        <%before['output'].each do |output|%>
                            <pre><%=output%></pre>
                        <%end%>
                    <%end%>

                    <%if before['result']['error_message']%>
                        <pre><%=before['result']['error_message']%></pre>
                    <%end%>

                <%end%>
            <%end%>

            <ul class="collection stepList">
              <%scenario['steps'].each do |step|%>
                  <li class="collection-item step <%=step['status']%>">

                    <%if scenario['before']%>
                        <%scenario['before'].each do |before|%>

                            <%if before['output']%>
                                <%before['output'].each do |output|%>
                                    <pre><%=output%></pre>
                                <%end%>
                            <%end%>

                            <%if before['result']['error_message']%>
                                <pre><%=before['result']['error_message']%></pre>
                            <%end%>

                        <%end%>
                    <%end%>

                    <b><%=step['keyword']%></b> <%=step['name']%> (<%=duration(step['duration'])%>)

                    <%if step['rows']%>
                       <%step['rows'].each do |row|%>
                          <%='<br/>| '%>
                          <%row['cells'].each do |cell|%>
                              <%=cell + ' | '%>
                          <%end%>
                       <%end%>
                    <%end%>

                    <%if step['output']%>
                        <%step['output'].each do |output|%>
                            <pre><%=output%></pre>
                        <%end%>
                    <%end%>

                    <%if step['result']['error_message']%>
                        <%scenario['error'] = step['result']['error_message'].split("\n").first%>
                        <%errors << scenario['error']%>
                        <pre class="error"><%=step['result']['error_message']%></pre>
                    <%end%>

                    <%if step['embeddings']%>
                        <%step['embeddings'].each do |embedding|%>
                            <%if embedding['mime_type'] =~ /^image\/(png|gif|jpg|jpeg)/ %>
                                <%if options[:include_images]%>
                                    <img class="materialboxed" data-caption='<%=scenario['name']%>' width="250" src="data:<%=embedding['mime_type']%>;base64,<%=embedding['data']%>">
                                <%end%>
                            <%elsif embedding['mime_type'] =~ /^text\/plain/%>
                                <%if embedding['data'].include?('|||')%>
                                    <%title, link = embedding['data'].split('|||')%><a href="<%=link%>"><%=title%></a>
                                <%else%>
                                    <%=embedding['data']%>
                                <%end%>
                            <%end%>
                        <%end%>
                    <%end%>

                    <%if step['after']%>
                        <%step['after'].each do |after|%>

                            <%if after['output']%>
                                <%after['output'].each do |output|%>
                                    <pre><%=output%></pre>
                                <%end%>
                            <%end%>

                            <%if after['result']['error_message']%>
                                <pre><%=after['result']['error_message']%></pre>
                            <%end%>

                            <%if after['embeddings']%>
                                <%after['embeddings'].each do |embedding|%>
                                    <%if embedding['mime_type'] =~ /^image\/(png|gif|jpg|jpeg)/ %>
                                        <%if options[:include_images]%>
                                            <img class="materialboxed" data-caption='<%=scenario['name']%>' width="250" src="data:<%=embedding['mime_type']%>;base64,<%=embedding['data']%>">
                                        <%end%>
                                    <%elsif embedding['mime_type'] =~ /^text\/plain/%>
                                        <%if embedding['data'].include?('|||')%>
                                            <%title, link = embedding['data'].split('|||')%><a href="<%=link%>"><%=title%></a>
                                        <%else%>
                                            <%=embedding['data']%>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            <%end%>

                        <%end%>
                    <%end%>

                  </li>
              <%end%>

              <%if scenario['after']%>
                  <%scenario['after'].each do |after|%>

                      <%if after['output']%>
                          <%after['output'].each do |output|%>
                              <pre><%=output%></pre>
                          <%end%>
                      <%end%>

                      <%if after['result']['error_message']%>
                          <pre><%=after['result']['error_message']%></pre>
                      <%end%>

                      <%if after['embeddings']%>
                          <%after['embeddings'].each do |embedding|%>
                              <%if embedding['mime_type'] =~ /^image\/(png|gif|jpg|jpeg)/ %>
                                  <%if options[:include_images]%>
                                      <img class="materialboxed" data-caption='<%=scenario['name']%>' width="250" src="data:<%=embedding['mime_type']%>;base64,<%=embedding['data']%>">
                                  <%end%>
                              <%elsif embedding['mime_type'] =~ /^text\/plain/%>
                                  <%if embedding['data'].include?('|||')%>
                                      <%title, link = embedding['data'].split('|||')%><a href="<%=link%>"><%=title%></a>
                                  <%else%>
                                      <%=embedding['data']%>
                                  <%end%>
                              <%end%>
                          <%end%>
                      <%end%>

                  <%end%>
              <%end%>
            </ul>
          </div>
          <div class="modal-footer">
            <span class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></span>
          </div>
        </div>
    <%end%>
<%end%>

<header class="brown lighten-5">
  <div class="row brown lighten-1">
    <div class="col m8 hide-on-small-only">
      <h5 class="truncate white-text tooltipped" data-tooltip="<%=options[:report_title]%>"><%=options[:report_title]%></h5>
    </div>
    <div class="col m4 s12 brown lighten-1">
      <ul class="tabs brown lighten-1">
        <li class="tab col s3">
          <a class="btn brown lighten-3 active blue-text waves-effect waves-light tooltipped" data-tooltip="Overview" href="#overview"><i class="material-icons">public</i></a>
        </li>
        <li class="tab col s3">
          <a class="btn brown lighten-3 white-text waves-effect waves-light tooltipped" data-tooltip="Features" href="#features"><i class="material-icons">view_headline</i></a>
        </li>
        <li class="tab col s3">
          <a class="btn brown lighten-3 white-text waves-effect waves-light tooltipped" data-tooltip="Summary" href="#summary"><i class="material-icons">view_comfy</i></a></li>
        <li class="tab col s3">
          <a class="btn brown lighten-3 white-text waves-effect waves-light tooltipped" data-tooltip="Errors" href="#errors"><i class="material-icons">bug_report</i></a>
        </li>
      </ul>
    </div>
  </div>
</header>

<main class="brown lighten-5">
  <div class="row">
    <div id="overview" class="col s12 brown lighten-5">
      <div class="row">
        <div class="col m4 s12">
          <canvas id="featuresDoughnut" width="400" height="400"></canvas>
          <table id="metaDataFeatures" class="bordered">
            <tbody></tbody>
          </table>
        </div>
        <div class="col m4 s12">
          <canvas id="scenariosDoughnut" width="400" height="400"></canvas>
          <table id="metaDataScenarios" class="bordered">
            <tbody></tbody>
          </table>
        </div>
        <div class="col m4 s12">
          <table id="metaData" class="bordered">
            <tbody>
            <%options[:additional_info].each do |key, value|%>
                <tr><th><%=key%></th><td><%=value%></td></tr>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="features" class="col s12 brown lighten-5 white-text">
      <ul class="featureList collapsible popout" data-collapsible="expandable">
        <%features.each_with_index do |feature, f|%>
            <li class="feature <%=feature['status']%>">
              <div class="collapsible-header brown lighten-1 waves-effect waves-light">
                <i class="material-icons">featured_play_list</i>
                <b><%=feature['keyword']%></b>&nbsp;<%=feature['name']%>&nbsp;(<%=duration(feature['duration'])%>)
              </div>
              <div class="collapsible-body brown lighten-4">
                <ul class="collection scenarioList">
                  <%feature['elements'].each_with_index do |scenario, s|%>
                      <li class="collection-item scenario <%=scenario['status']%>">
                        <a class="waves-effect waves-light modal-trigger white-text" href="#f<%=f%>s<%=s%>">
                          <b><%=scenario['keyword']%></b> <%=scenario['name']%>&nbsp;(<%=duration(scenario['duration'])%>)
                        </a>
                      </li>
                  <%end%>
                </ul>
              </div>
            </li>
        <%end%>
      </ul>
    </div>
    <div id="summary" class="col s12 brown lighten-5">
      <table id="summaryTable" class="bordered brown lighten-1 white-text">
        <thead>
        <tr>
          <th class="hide-on-small-only">Feature</th>
          <th>Scenario</th>
          <th class="hide">Tags</th>
          <th>Status</th>
          <th class="hide-on-small-only">Error</th>
        </tr>
        </thead>
        <tbody>
        <%features.each_with_index do |feature, f|%>
            <%feature['elements'].each_with_index do |scenario, s|%>
                <tr class="<%=scenario['status']%>">
                  <td class="hide-on-small-only"><%=feature['name']%></td>
                  <td class="hoverable"><a class="modal-trigger white-text" href="#f<%=f%>s<%=s%>"><%=scenario['name']%></a></td>
                  <%# Scenarios Tags for search and filter %>
                  <td class="hide">
                    <%if scenario['tags']%>
                        <%scenario['tags'].each do |tag|%>
                            <%=tag['name'] + '. '%>
                        <%end%>
                    <%end%>
                  </td>
                  <td class="uppercase"><%=scenario['status']%></td>
                  <td class="hide-on-small-only"><%if scenario['error']%><%=scenario['error']%><%end%></td>
                </tr>
            <%end%>
        <%end%>
        </tbody>
      </table>
    </div>
    <div id="errors" class="col s12 brown lighten-5">
      <ul class="errorList collapsible popout" data-collapsible="expandable">
        <%errors.uniq.each do |error|%>
            <li class="error">
              <div class="collapsible-header red lighten-2 white-text waves-effect waves-light">
                <i class="material-icons">bug_report</i><%=error%>
              </div>
              <div class="collapsible-body brown lighten-4">
                <ul class="collection failedScenarioList">
                  <%features.each_with_index do |feature, f|%>
                      <%feature['elements'].each_with_index do |scenario, s|%>
                          <%if scenario['error']%>
                              <%if scenario['error'] == error%>
                                  <li class="collection-item failedScenario brown lighten-5 red-text">
                                    <i class="material-icons">highlight_off</i>&nbsp;<a class="modal-trigger red-text"href="#f<%=f%>s<%=s%>"><%=scenario['name']%></a>
                                  </li>
                              <%end%>
                          <%end%>
                      <%end%>
                  <%end%>
                </ul>
              </div>
            </li>
        <%end%>
      </ul>
    </div>
  </div>
</main>

<footer class="page-footer brown lighten-4">
  <div class="footer-copyright brown lighten-1">
    <div class="container">
      Happy Reporting!
      <a class="white-text text-lighten-4 right" href="https://rubygems.org/gems/report_builder">Generated by Report Builder</a>
    </div>
  </div>
</footer>

<script type="text/javascript">
$(document).ready(function () {
  <%features.each_with_index do |feature, f|%><%(0..feature['elements'].size).each do |s|%>
    $('#f<%=f%>s<%=s%>').modal();
  <%end%><%end%>
});
</script>
<script type="text/javascript" src="https://cdn.rawgit.com/rajatthareja/ReportBuilder/v1.3/js/report.builder.min.js"></script>
<%if options[:additional_js]%>
    <%if options[:additional_js] =~ /^http(|s):\/\/.*\.js$/%>
        <script src="<%=options[:additional_js]%>"></script>
    <%else%>
        <script type="text/javascript">
            <%= options[:additional_js]%>
        </script>
    <%end%>
<%end%>
</body>
</html>
