<!DOCTYPE html>
<html>
  <%= get('head').result(binding) %>
  <body>
    <%= get('header').result(binding) %>

    <% features = groups[0]['features'] %>
    <% gid = 'g0' %>
    <% errors = [] %>

    <%= get('scenarios').result(binding) %>

    <main class="brown lighten-5">
      <div class="row">
        <%= get('overview').result(binding) %>
        <%= get('features').result(binding) %>
        <%= get('summary').result(binding) %>
        <%= get('errors').result(binding) %>
      </div>
    </main>

    <%= get('footer').result(binding) %>
  </body>
</html>
